<!DOCTYPE>
<html ng-app="Aula5">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Projeto Angular</title>
        <link rel="stylesheet" href="bootstrap-4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="angular.min.js" type="text/javascript"></script>
        <script src="jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="bootstrap-4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript">
            angular.module('Aula5', []).controller('MyFourthController', function($scope){
                $scope.panelTitle = 'Lista de Bandas';

                $scope.frmAdd = {
                    "name":"",
                    "leader":"",
                    "createad_year":""
                };

                $scope.listaBandas = [];
                
                $scope.banda01 = {
                    "name": "Nightwish", 
                    "leader": "Tuomas", 
                    "createad_year": "1993"
                };

                $scope.banda02 = {
                    "name": "Kamelot", 
                    "leader": "Thomas", 
                    "createad_year": "1994"
                };             

                $scope.listaBandas.push($scope.banda01, $scope.banda02);

                $scope.showFormAdd = false;

                $scope.addBand = function() {
                    $scope.listaBandas.push({
                        name: $scope.frmAdd.name,
                        leader: $scope.frmAdd.leader,
                        createad_year: $scope.frmAdd.createad_year
                    });
                }

                $scope.deleteBand = function(xName) {
                    var listaBandasNovas = $scope.listaBandas.filter(
                        function(banda) {
                            return banda.name != xName;    
                        }
                    );

                    $scope.listaBandas = listaBandasNovas; 
                }      
            })
        </script>
    </head>

    <body ng-controller="MyFourthController">
        <div class="container">
            <div class="jumbotron jumbotron-fluid" >
                <div class="container">
                    <h1 class="display-4">Projeto Angular</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    <button class="btn btn-default" ng-hide="showFormAdd" ng-click="showFormAdd = true;">Adicionar</button>
                </div>
            </div>

            <div class="card card-default" ng-show="showFormAdd"> <!-- Se a variável for definida como verdadeira no controller, então esse componente vai ser mostrado -->
                <div class="card-header"> Inclusão de Pessoa </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-default" type="text" ng-model="frmAdd.name"/>
                    </div>
                    <div class="form-group">
                        <label>Líder</label>
                        <input class="form-default" type="text" ng-model="frmAdd.leader"/>
                    </div>
                    <div class="form-group">
                        <label>Criação</label>
                        <input class="form-default" type="text" ng-model="frmAdd.createad_year"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="addBand(); showFormAdd = false;">Incluir</button>
                    </div>
                </div>
            </div>
        
            <div class="card card-default">
                <div class="card-header"> {{ panelTitle }} </div>
                <div class="card-body">
                    <ul>
                        <li ng-repeat="banda in listaBandas"> 
                            <div class="card card-default">
                                <div class="card-header"> {{ banda.name }} </div>
                                <div class="panel-body">
                                    <ul>
                                        <li> Líder: {{ banda.leader }}</li>
                                        <li> Ano de Criação: {{ banda.createad_year }}</li>
                                    </ul>
                                    <button class="btn btn-default" ng-click="deleteBand(banda.name)">Excluir</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>